<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>All people</title>
</head>
<body>

<form th:action="@{/people}" th:method="POST" th:object="${person}">
    <label for="name">Enter name: </label>
    <input id="name" th:field="*{name}" type="text"/>
    <div style="color:red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Error name:</div>
    <br/>
    <label for="surname">Enter surname:</label>
    <input id="surname" th:field="*{surname}" type="text">
    <div style="color:red" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}">Error name:</div>
    <br/>
    <label for="age">Enter age: </label>
    <input id="age" th:field="*{age}" type="text">
    <div style="color:red" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">Error name:</div>
    <br/>
    <label for="email">Enter email: </label>
    <input id="email" th:field="*{email}" type="text">
    <div style="color:red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Error name:</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>
